{% extends 'shop/shop_temp.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action="">
  <table style="width: 500px;" align="center" class="table table-striped">
    <tr>
      <td>Name</td>
      <td>{{ data['shop_name'] }}</td>
    </tr>
    <tr>
      <td>Shop No</td>
      <td>{{ data['shop_no'] }}</td>
    </tr>
    <tr>
      <td>Email</td>
      <td>{{ data['email'] }}</td>
    </tr>
    <tr>
      <td>Phone</td>
      <td>{{ data['phone'] }}</td>
    </tr>
    <tr>
      <td>Building</td>
      <td>{{ data['building_name'] }}</td>
    </tr>
    <tr>
      <td>Floor</td>
      <td>{{ data['floor_no'] }}</td>
    </tr>
  </table>
</form>

{% endblock %}