{% extends 'Department/dept_temp.html' %}
{% block body %}
{#<p><a href="/add_staff">Add staff</a></p>#}
{#<p><a href="/view_my_staff">View staff</a></p>#}
{#<p><a href="/dept_assi_view">View report</a></p>#}
{#<p><a href="/dept_man_add">Add service</a></p>#}
{#<p><a href="/view_service">View service</a></p>#}
{#<p><a href="/add_schedule">Add schedule</a></p>#}
{#<p><a href="/view_schedule">View schedule</a></p>#}
{#<p><a href="/dept_compl_view">View complaint</a></p>#}
{#<p><a href="/dept_help_request">View help request</a></p>#}
{##}
{##}
{#<p><a href="/">Logout</a></p>#}
{% endblock %}